<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button 
          text="Login"
          defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>
  
<!--form code based on tut: https://javebratt.com/ionic-firebase-tutorial-auth/-->
<ion-content padding>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <form [formGroup]="resetPasswordForm">
          <ion-item>
            <!-- reset password email field -->
            <ion-label position="floating">
                <ion-icon name="mail" color = "medium"></ion-icon>
                Email Address:
              </ion-label>
            <ion-input
              formControlName="email"
              type="email"
              [class.invalid]="!resetPasswordForm.controls['email'].valid &&
              resetPasswordForm.controls['email'].touched"
            >
            </ion-input>
          </ion-item>
          <!-- invalid email input message -->
          <ion-item
            lines="none" 
            text-wrap
            class="error-message"
            *ngIf="!resetPasswordForm.controls['email'].valid &&
            resetPasswordForm.controls['email'].touched"
          >
            <ion-icon name="alert" padding></ion-icon>
            <ion-label>Invalid email address</ion-label>
          </ion-item>
          <!-- reset password button -->
          <ion-button
            margin
            expand="full"
            (click)="resetPassword(resetPasswordForm)"
            [disabled]="!resetPasswordForm.valid"
          >
            Reset Password
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
