// causes ion-label and icon to be aligned. Fix found here: https://codepen.io/brandyscarney/pen/WWXrLg?editors=1100
ion-label {
    display: flex !important;
    align-items: center;
}
  
ion-label ion-icon {
    height: 100%;
    margin-right: 5px;
}
