ion-item {
    --background: #efefef;
}

.subTask, .subTask ion-item, .taskActiveToggle {
    --background: white;
}

.overrideButtonOverlay {
    z-index: 3;
}

ion-select {
    min-width: 100% !important;
}