<ion-grid>
    <!-- list and tags selection -->
    <ion-row>
      <ion-col>
  
      </ion-col>
      <ion-col>
  
      </ion-col>
  
    </ion-row>
    <!-- start and end date selection-->
    <ion-row>
      <ion-col>
  
      </ion-col>
      <ion-col>
  
      </ion-col>
    </ion-row>
    <!-- location selection-->
    <ion-row>
        <ion-col>
    
        </ion-col>
    </ion-row>
    <!-- list item (event or task) title-->
    <ion-row>
        <ion-col>
    
        </ion-col>
    </ion-row>
    <!-- item user inputted description -->
    <ion-row>
        <ion-col>
            <ion-item>
                <ion-label position="stacked" size = "auto">Description</ion-label>
                <ion-textarea></ion-textarea>
            </ion-item>
        </ion-col>
    </ion-row>
  </ion-grid>>